# Data Types

1. Numeric

In [2]:
type(-12 +100)

int

In [7]:
type(12 + 10.25)   #float becasue it is decimal... not whole

float

In [10]:
type(12 + 3j) #used for imaginary numb, j is the only one

complex

2. Boolean

In [11]:
type(True)

bool

In [12]:
type (1 > 5)

bool

In [13]:
(1 > 5)

False

In [14]:
1 == 1

True

3. Strings

In [15]:
'Single Quote'

'Single Quote'

In [16]:
"Double Quote"

'Double Quote'

In [18]:
"""
The ice cream vanquisehd 
my longing for sweets, 
upon this diet I look away,
it no longer exists on this day.

"""

# it will print weird

'\nThe ice cream vanquisehd \nmy longing for sweets, \nupon this diet I look away,\nit no longer exists on this day.\n\n'

In [21]:
multiline = """
The ice cream vanquisehd 
my longing for sweets, 
upon this diet I look away,
it no longer exists on this day.

"""

In [22]:
print(multiline)

The ice cream vanquisehd
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

In [ ]:
"I've always wanted to eat a gallon of ice cream." #do not use single quote with an apostrophe

In [ ]:
"""
I've always wanted to eat a gallon of "ice crea."   
"""
#if using double quote, use triple quote

In [23]:
type(multiline)

str

In [25]:
a = 'Hello World!'

In [26]:
print(a[:5]) #prints string up to 5 words,first letter is default 0, nothing before semicolon is default'0'

Hello

In [27]:
print(a[6]) #prints the letter, including the space

W

In [29]:
print(a[-3]) #prints letter from right to left

l

In [30]:
print(a[2:5]) #prints letters from 2 to 5

llo

In [31]:
a*3

'Hello World!Hello World!Hello World!'

In [32]:
a+a

'Hello World!Hello World!'

4. Lists

In [34]:
[1,2,3] #lists is the square parenthesis

[1, 2, 3]

In [35]:
['Cookie Dought', 'Strawberry', 'Chocolate'] #include quotations when using variables, not integers

['Cookie Dought', 'Strawberry', 'Chocolate']

In [36]:
['Vanilla', 3, ['Scoops', 'Spoon'], True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [41]:
ice_cream = ['Cookie Dough', 'Strawberry', 'Chocolate']

ice_cream.append('Salted Caramel') #append means add to the end of list

ice_cream

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [40]:
ice_cream[0] = 'Butter Pecan' #adding the 0 means changing cookie dough to butter pecan

ice_cream

['Butter Pecan', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [42]:
nest_list = ['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [45]:
nest_list[2] # the number identifies what variable to print or list within a list

['Scoops', 'Spoon']

In [46]:
nest_list[2][1] # 2 means string and 1 means the word, you count starting from 0

'Spoon'

5. Tuples

In [47]:
tuple_scoops = (1,2,3,2,1)

In [48]:
type(tuple_scoops)

tuple

In [49]:
tuple_scoops[0]

1

In [50]:
tupple_scoops.append(3) #won't work since you CANNOT change tuples

NameError: name 'tupple_scoops' is not defined

6. Sets

In [51]:
daily_pints = {1,2,3}

In [52]:
type(daily_pints)

set

In [53]:
print(daily_pints)

{1, 2, 3}

In [54]:
daily_pints_log = {1,2,31,2,3,4,1,2,5,6,3,2}

print(daily_pints_log) #only prints unique values, once

{1, 2, 3, 4, 5, 6, 31}

In [56]:
wifes_daily_pints_log = {1,3,5,7,3,24,5,7,3,2,0}

In [58]:
print(daily_pints_log | wifes_daily_pints_log) #prints unique values, same value only once

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [60]:
print(daily_pints_log & wifes_daily_pints_log) # the & means values show up on both sets

{1, 2, 3, 5}

In [61]:
print(daily_pints_log - wifes_daily_pints_log) # numbers that do not match with -

{4, 6, 31}

In [62]:
print(daily_pints_log ^ wifes_daily_pints_log) #if value is one or the other but NOT on BOTH

{0, 4, 6, 7, 24, 31}

7. Dictionaries

In [63]:
#Key/Value Pair

dict_cream = {'name': 'Alex Freberg', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [64]:
type(dict_cream)

dict

In [65]:
print(dict_cream)

{'name': 'Alex Freberg', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [66]:
dict_cream.values()

dict_values(['Alex Freberg', 5, ['MCC', 'Chocolate']])

In [68]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [69]:
dict_cream.items()

dict_items([('name', 'Alex Freberg'), ('weekly intake', 5), ('favorite ice creams', ['MCC', 'Chocolate'])])

In [71]:
dict_cream['name']

'Alex Freberg'

In [72]:
dict_cream['name'] = 'Christine Freberg' #this means you are changing the NAME

print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [98]:
dict_cream.update({'name': 'Christine Freberg', 'weekly intake': 10, 'weight': 300})

print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 10, 'favorite ice creams': ['MCC', 'Chocolate'], 'weight': 300}

In [99]:
del dict_cream['weight']

print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 10, 'favorite ice creams': ['MCC', 'Chocolate']}