# Comparison Operators

In [ ]:
#####
# == means EQUAL
# != means NOT EQUAL
# > means GREATHER THAN
# < means LESS THAN
# >= means GREATER THAN OR EQUAL TO
# <= means LESS THAN OR EQUAL TO

In [2]:
10==10

True

In [3]:
'Vanilla'== 'Vanilla'

True

In [4]:
x= 'Vanilla'
y= 'Chocolate'

x != y

True

In [5]:
10 <=10

True

# Logical Operators

In [ ]:
###
# AND=  returns TRUE  if both statements are TRUE 
# OR = returns TRUE if one of the statments are TRUE 
# NOT= reverse the results, returns FALSE if the result is true

In [6]:
(70 > 56) and (50 > 10)

True

In [7]:
(10> 56) or (50 > 10)

True

In [8]:
('Vanilla' > 'Chocolate') and (50 > 10)

True

In [9]:
not (50 > 10)

False

# Membership Operators

In [ ]:
###
# IN= returns TRUE if a sequence with the specified value is present in the object 
# NOT IN= returns TRUE if a sequence with the specified value is not present in the object

In [10]:
ice_cream= 'I love Chocolate ice cream'
'love' in 'I love Chocolate ice cream'

True

In [11]:
scoops= [1,2,3,4,5]
wanted_scoops=8

wanted_scoops not in scoops

True